.appLogo {
  height:20vmin;
  position: absolute;
  top: 5%;
  left: 20%;
}

.Titulo {
  left: 35%; 
  top: 50%;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Bar {
  border-left: 6px solid white; 
  height: 20vmin; 
  position:absolute; 
  left: 35%; 
  top: 5%;
}